<div class="container">
    <h1 class="reset-password-heading">Reset Password</h1>
    <form (ngSubmit)="resetPassword()" #resetForm="ngForm" class="reset-password-form">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" [(ngModel)]="resetData.username" required class="form-control" />
            <!-- Display validation error message for required -->
            <div *ngIf="resetForm.controls['username'].hasError('required') && resetForm.controls['username'].touched" class="text-danger">
                Username is required.
            </div>
        </div>

        <div class="form-group">
            <label for="newPassword">New Password</label>
            <input type="password" id="newPassword" name="newPassword" [(ngModel)]="resetData.newPassword" required class="form-control" />
            <!-- Display validation error message for required -->
            <div *ngIf="resetForm.controls['newPassword'].hasError('required') && resetForm.controls['newPassword'].touched" class="text-danger">
                New Password is required.
            </div>
        </div>

        <div class="button-container">
            <button type="button" class="btn btn-info" (click)="validateAndReset()">Reset Password</button>
        </div>


        <div class="go-back-container">
            <button type="button" class="btn btn-info" (click)="goBackToLogin()">Go back to login</button>
        </div>
    </form>
</div>